@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-cormorant);
  --color-accent: #C2A878;
}

:root {
  --background: #F9F8F6;
  --foreground: #1C1A17;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom Text Selection */
::selection {
  background: var(--color-accent);
  color: var(--background);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #E5E0D8;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D1C9BC;
}

/* Utilities */
.heading-underline {
  position: relative;
  display: inline-block;
}

.heading-underline::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 60px;
  height: 2px;
  background-color: var(--color-accent);
}

.heading-underline-center::after {
  left: 50%;
  transform: translateX(-50%);
}
